/*Google font*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


/* Global Styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling the body */
body {
  font-family: "Open Sans", sans-serif;
  background: RGB(243, 245, 246);
  color: RGB(28, 50, 78);
  line-height: 1.5;
  font-size: 14px;
}

/* styling the ul */
ul {
  list-style-type: none;
}

/* styling the a href */
a {
  text-decoration: none;
}


/* styling the image border */
img:not(.logo) {
  width: 100%;
}


/* styling the image */
img {
  display: block;
}


/* styling the h1 to h4  */
h1, h2, h3, h4 {
  letter-spacing: 4px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
}


/* styling the h1 to 4 individually */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
}
 

/* styling the paragraph */
p {
  margin-bottom: 20px;
  color: RGB(84, 89, 93);
}

/* media query for screen with minimum width of 800px and above */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 16px;
  }

  /* styling the body */
  body {
    font-size: 16px;
  }


  h1,
  h2,
  h3,
  h4 {line-height: 1;}
}




/*  global classes */
.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 6px 12px;
  letter-spacing: 4px;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 14px;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}


/* styling the hover */
.btn:hover {
  color: #fff;
  background: #222;
}


/* styling the section */
/* section */
.section {
  padding: 80px 0px;
}

.section-center {
  width: 90vw;
  margin: 80px auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}



/* Countdown Timer */
/* styling the gift image */
.gift-img {
  margin-bottom: 32px;
}


.gift-info h3 {
  text-transform: uppercase;
  color:RGB(51, 133, 189);
}


.gift-info p {
  color: RGB(111, 114, 118);
}


.date {
  color: RGB(84, 89, 93);
  font-size: 13.6px;
}


/* media query with minimum width 992px */
@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }


  .gift-img {
    margin-bottom: 0;
  }


}


.gift-info p {
  margin: 2rem 0;
}


.deadline {
  display: flex;
}


.deadline-format {
  background: RGB(28, 50, 78);
  color: #fff;
  margin-right: 1rem;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  text-align: center;
}


.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13.6px;
}


.deadline h4:not(.expired) {
  font-size: 16px;
  margin-bottom: 4px;
  letter-spacing: 4px;
}